:host {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  .agency-form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      font-size: 12px;
    }
  }
  .button-continer {
    display: flex;
    align-self: center;
    :first-child {
      margin-right: 1.5rem;
    }
  }
}
