:host {
  mat-toolbar {
    padding: 0 15%;
    background-color: #012D74;
    color: #fff;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field.mat-form-field {
    font-size: 12px;
    top: 5px;
  }

  mat-form-field.mat-form-field.mat-form-field-appearance-outline.mat-form-field-outline {
    color: #fff;
  }
}
